<aside class="left-off-canvas-menu">
  <ul class="off-canvas-list">
    <li> <label> Dashboard Options </label> </li>
    <li> <a href="" id="invites">Pending Invites</a> </li>
    <li> <a href="" id="responses"> Waiting for Responses </a> </li>
    <li> <a href="" id="confirmations"> Confirmed Matches </a> </li>
    <li> <a href="" id="rejections"> Rejections </a> </li>
    <li> <a href="" id="dash"> Dashboard Statistics </a> </li>
  </ul>
</aside>
