<% if invite.sender_id == current_user.id %>
  <a class="twitter-mention-button"
  href=<%="https://twitter.com/intent/tweet?screen_name=#{User.find(invite.receiver_id).name}"%>>
  </a>

  <script>
    window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
  </script><br><br>
<% else %>
  <a class="twitter-mention-button"
  href=<%="https://twitter.com/intent/tweet?screen_name=#{User.find(invite.sender_id).name}"%>>
  </a>

  <script>
    window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
  </script><br><br>
<% end %>
