<h1> Admin: Venues </h1>

  <h1><% @venues.each do |venue| %></h1>
    <ul>
    <%= link_to venue.name, venue_path(venue) %><%= button_to "Delete #{venue.name}", admin_venue_path(venue), method: :delete, data: { confirm: "Are you sure?"} %>
    <%= link_to "Update #{venue.name}", edit_admin_venue_path(venue) %>
    </ul><br>
  <% end %>
