<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
<div class="home-page">
  <h3> Welcome to </h3>
  <h1> ShowBuddy </h1>
  <h3> Don't go with nobody... Go with ShowBuddy! </h3>
</div>
