<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<div class="home-page">
  <h1> Welcome to ShowBuddy </h1>

  <h2> Don't go with nobody... </h2>
  <h2> Go with ShowBuddy! </h2>
</div>
