body {
  background-image: url("showbuddy-bg2.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100% !important;
  z-index: 0;
  background-attachment: fixed;
}
.boxed {
  align: center;
  background: #333333;
  opacity: .5;
}

div.transbox {
  padding-bottom: 20px;
  text-align: center;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-color: #333333;
  opacity: 0.9;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
  margin: 30px 40px;
  color: #FFFFFF;
  font-family: 'Cabin', sans-serif;
  text-align: center;
}
div.transbox h2 {
  font-family: 'Cabin', sans-serif;
  text-align: center;
}

div.transbox2 {
  text-align: center;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  /* margin: 30px 50px; */
  background-color: #333333;
  opacity: 0.9;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox2 h1 {
  margin: 30px 40px;
  margin-top: 0px;
  color: #FFFFFF;
  font-family: 'Cabin', sans-serif;
  text-align: center;
}

div.center {
  padding-top: 1px;
  text-align: center;
  background-color: #333333;
  opacity: 0.95;
  color: rgba(255, 255, 255, 0.7)
}

div.center-white {
  padding-top: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, .7);
  opacity: 0.9;
  color: rgba(0, 0, 0, 0.7)

}

div.center h4 {
  text-align: center;
  background-color: #333333;
  opacity: 0.9;
  color: white;
}

div.center h1 {
  text-align: center;
  background-color: #333333;
  opacity: 0.9;
}

div.concert-form {
  text-align: center;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-color: #333333;
  opacity: 0.9;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.concert-form h2 {
  color: white;
}

label {
  color: white;
}

.home-page h1, .home-page h2, .home-page h3, .home-page h4, .home-page h5, .home-page h6 {
  font-family: 'Lobster';
  text-align: center;
}

.content, .content h3 {
  align: center;
  font-family: 'Cabin', sans-serif;
  text-align: center;
}
